html,*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "sans", Courier, monospace;
    max-width: 100vw;
    background-color: var(--dark-2);
    position: relative;
}
button,input{
    border: none;
    outline: none;
    font-family: "sans";
    color: var(--text); 
}

.header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    background-color: rgba(45, 22, 26, 0.3);
    backdrop-filter: blur(15px);
    z-index: 10;
}
.header-name-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}
.header__logo{
    width: 3rem;
    height: 3rem;
    animation: ani 3000ms ease-in-out infinite;
    cursor: pointer;
}
@keyframes ani{
    0%{
        filter: drop-shadow(0 0 5px rgba(207, 23, 54, 0.6));
    }
    50%{
        filter: drop-shadow(0 0 15px rgba(207, 23, 54, 0.6));
    }
    100%{
        filter: drop-shadow(0 0 5px rgba(207, 23, 54, 0.6));
    }
}
.header__name{
    font-size: 1.5rem;
    color: var(--text);
}

.header-sections{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    text-decoration: none;
    color: var(--text);
    font-weight: 300;
}
.header__item{
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
    transition: all 100ms ease-in 10ms;
}

.header__item:hover{
    color: var(--accent);
    transform: translateY(-3px);
    filter: drop-shadow(0 0 25px rgba(207, 23, 54, 0.6));

}
.header-search-sabad{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.header-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 16rem;
    height: 2.5rem;
    border: 1px solid var(--muted);
    border-radius: 2rem;
    padding: 0 1rem;
}
.header__search__input{
    width: 13rem;
    height: 1.8rem;
    background-color: transparent;
    font-size: 0.8rem;
    color: var(--muted);
}
.header__search__svg{
    width: 1.5rem;
    height: 1.5rem;
    color: var(--muted);
    cursor: pointer;
}
.header__sabad{
    cursor: pointer;
    outline: 10px solid transparent;
    border-radius: 0.2rem;
    transition: all 100ms ease-in-out 10ms;
}
.header__sabad:hover{
    transform: scale(1.2);
    outline-color: rgba(0, 0, 0, 0.119);
}
.menu-bar{
    width: 1.5rem;
    height: 1.3rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    z-index: 11;
    display: none;
}
.btn-close-bar{
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}
.btn-close-bar div{
    transition: all 150ms ease-out;
    background-color: white;
    width: 4px;
    height: 2rem;
    border-radius: 2rem;
}
.btn-close-bar-line-right{
    transform: rotate(45deg);
}
.btn-close-bar-line-left{
    transform: rotate(-45deg);
}
.btn-close-bar:hover div{
    transform: rotate(90deg);
}
.menu-bar__line{
    width: 100%;
    height: 0.2rem;
    border-radius: 0.2rem;
    background-color: var(--text);
}
.menu-bar-items{
    position: fixed;
    /* right: -1px; */
    height: 100vh;
    width: 13rem;
    padding: 2rem 1rem;
    z-index: 100;
    background-color: var(--dark-2);
    display: none;
    right: -13rem;
    transition: all 200ms ease-in;
}
.header-sections-bar{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}
.header-sections-bar a {
    display: block;
}
/*------------------------->  footer <--------------------- */
.footer{
    margin-top: 4rem;
    border-top: 2px dashed var(--text-down);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    background-color: var(--dark);
}
.footer-sent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text);
    padding: 2rem;
}
.footer-sent-input{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer-sent-input-box{
    width: 15rem;
    padding: 0.5rem 1rem;
    background-color: var(--dark-2);
    border-radius: 0.5rem;
}
.footer-sent-input__email{
    background-color: transparent;
    width: 100%;
}
.footer-sent-input__btn{
    width: 8rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 100ms ease-in-out 10ms;
    background-color: var(--accent);
}
.footer-sent-input__btn:hover{
    transform: translateY(-6px);
    box-shadow: 0 5px 20px -2px var(--accent-hover);
}
.footer-help{
    color: var(--text);
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 1.5rem;

}
.help-logotitle{
    width: 20rem;
}
.help-logo{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    
}
.help-img{
    width: 3rem;
    height: 3rem;
}
.help-title{
    color: var(--subtitle);
}

.help-top{
    margin-bottom: 1rem;
    text-align: right;
}
.help-bottom{
    text-decoration: none;
    color: var(--subtitle);
    display: block;
    transition: all 100ms ease-in-out 10ms;
}
.help-bottom:hover{
    transform: translateX(-10px);
    color: var(--muted);
}
.copyRight{
    padding: 1rem;
    border-top: 1px solid var(--text-down);
    color: rgb(142, 142, 142);
    font-size: 0.8rem;
    text-align: center;
    background-color: var(--dark);
}

.test{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100vh;
}
.input{
    width: 15rem;
    height: 2rem;
    border-radius: 1rem;
    color: black;
    padding: 0 1rem;
}
.btn{
    width: 10rem;
    height: 3rem;
    background-color: black;
    border-radius: 1rem;
    cursor: pointer;
}



@media (max-width: 1200px) {

}
@media (max-width: 980px) {
    .header{
        display: none;
    }
    .menu-bar{
        display: flex;
    }
    .menu-bar-items{
        display: block;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}